baseURL = 'https://tachunwu.github.io/'
languageCode = 'en-us'
title = 'Tachunn Publication'
theme = "archie"

# Social Tags

[[params.social]]
name = "GitHub"
icon = "github"
url = "https://github.com/tachunwu"

# Main menu Items

[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "All posts"
url = "/posts"
weight = 2

[[menu.main]]
name = "About"
url = "/about"
weight = 3

[[menu.main]]
name = "Tags"
url = "/tags"
weight = 4